.swiper-container {
    width: 100%;
    padding-top: 50px;
    position: relative;
    padding-bottom: 50px;
    overflow: hidden;
  }

.swiper-slide {
background-position: center;
background-size: cover;
width: 300px;
height: 300px;

}

.swiper-buttons{
  position: absolute;
    display: flex;
    inset: 0;
    top: 12%;
    bottom: 12%;
}

.swiper-buttons div{
  background-color: #383838a6;
  top: 8%;
  /* bottom: 0%; */
  height: 99%;
  width: 8rem;

}

.swiper-buttons div:nth-child(1){
  transform: translateX(35%);

}

.swiper-buttons div:nth-child(2){
  transform: translateX(-35%);
}