<!DOCTYPE html>
{% extends 'nav.html' %}
{% load custom_tagger %}
{% load static %}

{% block body_block %}

    <h1 style="text-align: center; margin: 0 auto; border-radius: 20px; width: 50%; margin-top: 4%; margin-bottom: 3%; text-transform: uppercase;">{{type}}</h1>

{% if type == "games" %}
<div style="
    margin-left: 5%;
    background-color: hsl(0deg 0% 0% / 5%);
    border-radius: 14px;
    padding: 4px;
    text-align: center;
    width: 19%;">

    <label for="order">Choose The Order</label>
    <select style="margin-bottom: 2%; margin-top: 2%; border: none; background-color: hsla(0,0%,100%,.07);" name="order" onclick="order_me()">
        <option value="ee">Select Option</option>
        <option value="rating">By Rating</option>
        <option value="released">By Release Date</option>
        <option value="added">By Popularity</option>
    </select>
</div>
   
{% endif %}
    

    <div class=" index">
        {% if names %}
            
            <div class="row">
            {% for x in names.results %}
                
                    <div class="col-lg-3 col-md-5 columnn">
                        {% if type != "games" %}
                            <a style="cursor: pointer;" href="/search={{x.id}}/page={{type}}" class="not-hover">
                                <div class="carder"  >
                            
                                
                                    <div class="image_of_card"   style="background: url({{ x.image_background }});
                                        background-size: cover; 
                                        grid-area: image;
                                        border-top-right-radius: 15px; 
                                        border-top-left-radius: 15px;">
                                    </div> 

                                    <div class="image_of_card"   style="background: black;
                                        background-size: cover; 
                                        grid-area: image;
                                        opacity: .5;
                                        border-top-right-radius: 15px; 
                                        border-top-left-radius: 15px;">
                                    </div> 


                                    <div class="card-text-area">
                                        <h4 class="header_of_platform" >{{ x.name }}</h4>
                                        <div class="card_data " style=" display: grid;  grid-template-columns: 70% 30%;">
                                            
                                        
                                            <div class="data_title" style="padding-left: 8%; text-align: left;">
                                                <p >  No. Of Games </p>
                                                <hr  width="121%">
                                                {% for y in x.games %}
                                                {% if forloop.counter <= 2 %}
                                            

                                                    <p  style="  font-size: small; height:30px;">{{y.name}}</p>
                                            
                                                {% endif %}
                                                
                                                {% endfor %}
                                            
                                            </div>
                                        
                                            <div class="genre_card" style=" margin-left: 20%; text-align: center; padding-right: 4%;">
                                                <p  > {{x.games_count}}</p>
                                                <hr>
                                            
                                                
                                                <p style="padding-left: 6%;">
                                                    {% for y in x.games %}
                                                    {% if forloop.counter <= 2 %}
                                                        <p style="  height: 30px;">{{y.added}}</p>
                                                        {% endif %}
                                                    {% endfor %}
                                                </p>
                                            
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </a>
                        {% else %}
                        <div style="cursor: pointer;"  class="not-hover">
                            <div  class="carder"  >

                                {% if user.is_authenticated %}
                                    <script>flagg = false</script>
                                    
                                    {% for c in cart %}
                                        
                                        {% if c.slug == x.slug %}
                                            
                                            <script>flagg = true</script>
                                        {% endif %}
                                        

                                    {% endfor %}

                                    
                                    <div style="display:flex;" onclick="add_to_cart('{{x.slug}}' , '{{forloop.counter}}')" class="ooo adder_of_cart "  ></div>
                                    
                                    <script>
                                        if(!flagg){
                                      
                                            document.querySelectorAll('.ooo')[ parseInt('{{forloop.counter}}')  - 1].classList.toggle('not_added')

                                            
                                        }else{
                                            
                                            document.querySelectorAll('.ooo')[ parseInt('{{forloop.counter}}')  - 1].classList.toggle('added')
                                        }
                                    </script>




                                {% else %}
                                    <div class="adder_of_cart not_added"  ></div>
                                {% endif %}

                                    
                                {% if x.background_image != null %}
                              
                                    <div onclick="take_me_details('home' , '{{x.slug}}','{{forloop.counter}}' , event)" onmouseover="play_me( '{{forloop.counter}}' , '{{x.clip.clips.320}}' , '{{ x.background_image }}')" onmouseout="pause_me({{forloop.counter}} , '{{x.clip.clips.320}}')" class="image_of_card" > 
                               

                                        {% if x.clip != null %}
                                            <video class="fideo" src="" muted onplaying="on_player('{{forloop.counter}}')"></video>
                                        {% else %}
                                            {% if x.background_image != null %}
                                                <img style="width: 100%; height: 100%;" class="fideo" src="{{ x.background_image }}"   >
                                            {% else %}
                                                <img style="width: 100%; height: 100%;" src = "url(/media/last.jpg)" class="fideo" >
                                            {% endif %}
                                        {% endif %}

                                        <div class="image_of_card"   style="background: url({{ x.background_image }});

                                            background-size: cover; 
                                            top: 0; 
                                            left: 0; 
                                            width: 100%;
                                            height:100%;
                                            z-index:-1;
                                            grid-area: image;
                                            border-top-right-radius: 15px; 
                                            border-top-left-radius: 15px;">
                                        </div> 
                                        {% comment %} third layer loading spinner {% endcomment %}

                                        <div class="loading_layer" style=" 
                                            background: #000000b3;
                                            background-size: cover; 
                                            display: none;
                                            position: absolute;
                                            top: 0; 
                                            left: 0; 
                                            width: 100%;
                                            height:100%;
                                            z-index:-1;
                                            grid-area: image;
                                            border-top-right-radius: 15px; 
                                            border-top-left-radius: 15px;">

                                            <div class="lds-ring" style="align-self: center; left: 40%;"><div></div><div></div><div></div><div></div></div>

                                        </div>








                                     </div> 

                                {% else %}
                                    <div class="image_of_card"   style="background: url(/media/last.jpg);
                                        background-size: cover; 
                                        grid-area: image;

                                    
                                        border-top-right-radius: 15px; 
                                        border-top-left-radius: 15px;">
                                        
                                        <img class="fideo" src="http://sirigallery.com/static/asset/images/novideo.png"   >
                                    
                                    </div> 

                                    {% endif %}





                                <div class="card-text-area">
                                    <a style="text-decoration: none; " class="titlerr_of_card" onclick="take_me_details('home' , '{{x.slug}}' , '{{forloop.counter}}')"> <h4 style="margin-top: 2%;  height: 26%;" >{{ x.name }}</h4></a>
                                    <div class="card_data " style="margin-top: 9%; display: grid; grid-template-columns: 50% 50%;">
                                        
                                    
                                        <div class="data_title" style="padding-left: 4%; text-align: left;">
                                            <p > Release Date </p>
                                            <p > Genre </p>
                                        </div>
                                        
                                        <div class="genre_card" style=" margin-left: 20%; text-align: center; padding-right: 4%;">
                                            <p  > {{x.released}}</p>
                                        
                                            <p style="padding-left: 6%;">
                                                {% for x in x.genres %}
                                                    <span >{{x.name}} </span>
                                                    
                                                {% endfor %}
                                            </p>
                                            
                                        </div>

                                        </div>
                                    </div>

                            </div>
                        </div>
                            
                        
                        {% endif %}
                           

                       
                                
                    
                                
                                
                            
                        
                    </div>
                
            {% endfor %}
            
            </div>
        {% endif %}
        <div class="row row2">
            
        
        </div>

    </div>
     
    <hr>
    {% if names.next != null %}
    <!-- href="/type={{type}}/page=more" -->
    {% if type2 %}
        <a style="margin-left: 50%;"href="/type={{type2}}/page={{page|adder}}"><button class="btn btn-danger">Show more</button></a> 
    {% else %}
        <a style="margin-left: 50%;"href="/type={{type}}/page={{page|adder}}"><button class="btn btn-danger">Show more</button></a> 
    {% endif %}
        

     
     
    {% endif %}
   
            





{% endblock body_block %}


{% block script %}
    <script src="{% static 'home.js' %}"></script>
{% endblock script %}