<!DOCTYPE html>
{% extends 'nav.html' %}
{% load static %}


{% block style %}
    <link rel="stylesheet" href= "{% static 'accounts.css' %}">
{% endblock style %}


{% block body_block %}


<div>


<div class="second_layer" ></div> 

<div class="reigster_content" style="background-image: url({{image.background_image}});"></div>

<div class="upper-zone" >
    
        <form method = "POST" class="game-zone" enctype="multipart/form-data" autocomplete="off" >
    
            <h1 style= " text-align: center; color: #fff; grid-column-start: 1; grid-column-end: 4; width: 30.5%; margin-bottom: 0;" class="py-1" >Sign Up</h1> 
            {% csrf_token %}


             
             
            
            <div class="fields" style="margin-top: 2%;" >
                <!-- <h1 style="color: white; margin-bottom: 3%; position: absolute;">Sign Up</h1> -->
                <div class="field" >
                    <input  type="text" placeholder="Username" autocomplete="username"  name="username" id="id_username">
                    <br><br>
                </div>
                <div  class="field">
                    <input type="email" placeholder="Email" name="email" maxlength="254" id="id_email">
                    <br><br>
                </div>
                <div  class="field" >
                    <input type="password" placeholder="Password" name="password" id="id_password">
                    <br><br>
                </div>
                
                <div  class="field">
                    <input type="password" placeholder="Confirm Password" name="Confirm_Password" id="id_Confirm_Password">
                    <br><br>
                </div>
                <div class="field">
                    <input type="file" placeholder="Profile Image" name="profile_image" accept="image/*" id="id_profile_image">
                    <p></p>
                </div>
                <button class="btn btn-primary">Sign up</button>
                
            </div>
           
        
            <div style=" color: white;     padding-top: 20%;  width: 100%; ">
                <h1>Register here</h1>
                <h3>Get Access to many games</h3>
            </div>

            
        
        
        
        </form>
  
</div>


</div>


{% endblock body_block %}